.over_header {
  margin-top: 0.5rem;
  margin-left: 7rem;
}

.sub_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 1.2rem;

  height: 4.5rem;

  background-color: #222222;
  border-bottom: 0.25rem solid #e53834;
  color: #fff;
}

.logo_sub_header {
  margin-right: 7rem;
}
