.container {
  display: flex;
  height: 15rem;
  max-width: 60rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid #e53834;
  position: relative;

  &:hover {
    .img_container {
      img {
        transition: 0.4s;
        transform: scale(105%);
      }
    }
  }

  .title {
    margin: 0.3rem;
    margin-left: 1rem;
    font-size: 1.3rem;
  }

  .description {
    margin-left: 1rem;
    font-size: 1.1rem;
  }

  .details {
    display: flex;
    align-items: center;
    position: relative;

    margin-bottom: 0.8rem;
    margin-left: 1rem;
  }

  .img_container {
    overflow: hidden;
    width: auto;
    width: 40%;

    img {
      height: 100%;
      width: 100%;
      transition: 0.4s;

      &:hover {
        transform: scale(105%);
      }
    }

    .label_games {
      position: absolute;
      top: 85%;
      left: 0.5rem;
    }

    &:hover {
      .label_games div {
        background-color: #e53934;

        transition: 0.4s;
      }
    }
  }
}

.comments {
  display: flex;
  align-items: center;

  gap: 0.2rem;
  right: 0;

  color: grey;

  position: absolute;
}

.upper_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 60%;
}
